.title {
  text-align: center;
}

.containerTurnos {
  display: flex;
  flex-direction: column;
}

.containerList {
  list-style: none;
  display: flex;

  justify-content: space-around;
}

.containerList li {
  background-color: #ee9209;
  font-weight: 700;
  font-size: 19px;
  padding: 15px;
  padding-inline: 20px;
  border-radius: 20px;
}
/* 
.containerList li:nth-child(1) {
  margin-left: -10px;
}

.containerList li:nth-child(2) {
  margin-left: 30px;
}

.containerList li:nth-child(3) {
  margin-right: 30px;
}

.containerList li:nth-child(4) {
} */
