.title {
  text-align: center;
  color: white;
}

.containerTurnos {
  display: flex;
  flex-direction: column;
}

.containerList {
  list-style: none;
  display: flex;

  justify-content: space-around;
}

.containerList li {
  background-color: #364960;
  color: #6ee1cd;
  font-weight: 700;
  font-size: 19px;
  padding: 15px;
  padding-inline: 20px;
  border-radius: 20px;
}
