.navContainer {
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav {
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.imgContainer {
  margin-left: 30px;
  width: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.imgContainer p {
  font-size: 20px;
}

.imgContainer img {
  width: 50px;
}
.containerList {
  list-style: none;

  font-size: 20px;
}

.list {
  display: inline-block;
  padding: 5px;
  margin-inline: 20px;
}

.list a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.list a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #b47dcd, #e878a2, #eb85ab);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.list a:hover::before {
  transform: scaleX(1);
}
