.buttonDrop {
  border-radius: 20px;
  border: 2px solid #a8d0e6;
  padding: 10px 20px;
  color: #4c4c4c;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #a8fff1;
  font-family: "MuseoModerno", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.buttonDrop:disabled {
  background-color: #f2f2f2;
  border-color: #cccccc;
  color: #999999;
  cursor: not-allowed;
}
