.containerTurnos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #e76f51;
}

.containerTurnos h4 {
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  background-color: #f4a261;
}

.containerTurnos h4:nth-child(1) {
  width: 110px;
}
.containerTurnos h4:nth-child(2) {
  width: 20px;
}

.containerTurnos h4:nth-child(3) {
  width: 150px;
}

.containerTurnos button {
  background-color: #f4a261;
  border-radius: 20px;
  height: 50px;
  font-family: "MuseoModerno", sans-serif;
  font-weight: 700;
  font-size: 19px;
  cursor: pointer;
}

.containerTurnos button:hover {
  background-color: rgba(158, 15, 15, 0.664);
  transition: 0.5s;
}

.containerTurnos button:disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}
