body {
  background-image: url("../../assets/pxfuel.jpg");
}

.containerMain {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerMain h1 {
  color: white;
}
